

#register {
  text-align: center;
  color: red;
}

#title {
  text-align: center;
  color: red;
  max-width: 50px;
}

.card-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow:auto;
}
.name-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.name-container > * {
  text-align: center;
  width: 100%;
}
.user-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.user-container > * {
  text-align: center;
  width: 100%;
}

.drop-container {
  display: flex;
  width: 85% !important;
  justify-content: space-between;
}

.password-container {
  display: flex;
  flex-direction: column;
}
.password-container > * {
  text-align: center;
  width: 100%;
}

.password-right-align {
  text-align: right;
}

#sign-in {
  float: right;
}



