<form [formGroup]="loginForm" (ngSubmit)="LogIn()">
  <label>Username:
    <br />
    <input formControlName="username">
  </label>
  <br />
  <h5 *ngIf="userError">Please enter your username</h5>
  <br />
  <label>Password:
    <br />
    <input type="password" formControlName="password">
  </label>
  <br />
  <h5 *ngIf="passwordError">Please enter your password</h5>
  <h5 *ngIf="incorrectError">Incorrect username or password</h5>
  <br />
  <button type="submit">Log In</button>
  <button type="button" routerLink="/newUser">New User</button>
</form>

<br />
<br />
