  <div class="main">
    <h2>Welcome to BlinCsinC!</h2>
    <h3>This application lets you evoke emotions through displaying images and capturing them on camera.</h3>
    <h3>There is a library where you can view all the images and emotions used to evoke a reaction.</h3>
    <h3>There is also a Take Picture tab where it will take you step by step on how to display an image and take the picture!</h3>
    <h3>Once you take some photos, you can upload your photos to your computer by hitting the button below. </h3>
    <h3>Doing so will log you out of the application.</h3>
    <button type="button" (click)="uploadImages()">Upload Pictures</button>
  </div>
  