  <div class="main">
    <form (ngSubmit)="emotionSelect()" *ngIf="emotionPage">  
      <p>Please select your emotion:</p>
      <div *ngFor= "let emotion of emotions">
        <input type ="radio" name="emotions" [id]="emotion">
        <label>{{emotion}}</label>            
      </div>
      <h5 *ngIf="emotionError">Please select an emotion</h5><br>
      <button type="submit">Next Page</button> 
    </form>

    <form (ngSubmit)="whatPictureSelect()" *ngIf="whatPicturePage">
      <p>Do you have a specific image you would like to use?</p>
      <input type="radio" id="specific" name="picture" value="specific">
      <label for="specific">Specific Image</label><br>
      <input type="radio" id="random" name="picture" value="random">
      <label for="random">Random Image</label><br>
      <h5 *ngIf="specificError">Please select specific or random</h5><br>
      <button type="button" (click)="resetEmotion()">Previous Page</button>
      <button type="submit">Next Page</button>
    </form> 

    <form (ngSubmit)="selectImage()" *ngIf="pickImagePage">
      <h2>Please select which image you would like to use</h2>
      <div class="row">
        <div style="padding:1px 16px">
          <div class="column" *ngFor= "let image of images">
            <input type ="radio" name="images" [id]="image">
            <label><img [src]="image" width="200px" height="200px"/></label>            
          </div>
        </div>
      </div>
      <h5 *ngIf="imageError">Please select an image</h5><br>
      <button type="button" (click)="resetWhatPicture()">Previous Page</button>
      <button type="submit">Next Page</button>
    </form>

    <form (ngSubmit)="rules()" *ngIf="rulesPage">
      <p>If you are using just the webapp and personal camera, click Next Page</p>
      <p>In order for everything to work with a raspberry pi and projector you need to make sure: </p>
      <ol>
        <li>Your raspberry pi and projector are on</li>
        <li>Your raspberry pi is connected to the projector via the HDMI cable</li>
        <li>You have checked your connection to the raspberry pi:
          <ul>
            <li>Open cmd window (search cmd)</li>
            <li>Type in: ssh pi@192.168.X.X (replacing X's with your ip)</li>
            <li>If it asks for password, you are connected</li>
            <li>If it does nothing and then says connection timed out, you are not connected. Wait five minutes and try again</li>
          </ul>
        </li>
        <li>You have the camera module hooked up to the Raspberry Pi</li>
        <li>The camera is facing towards the picture you want to take</li>
        <li>Go ahead and press the Next Page button</li>
      </ol> 
      <button type="button" (click)="resetImageSelect()">Previous Page</button>
      <button type="submit" href="common/displayImage.bat">Next Page</button>
    </form>

    <form (ngSubmit)="resetEverything()" *ngIf="takePicturePage">
      <img *ngIf= "manualPicture" [src]="image" width="1000px" height="800px">
      <h2>If you are using just the web app and your personal camera, press the Manually Take Picture button to display the image!</h2>
      <h2>If you are using the raspberry pi and projector, press the "Take Picture" button to display the image!</h2>
      <h4>If message pops up labeled IntraLaunch Demonstration, click OK to continue</h4>
      <br><br>
      <button type="button" (click)="takePicture()">Take Picture</button>
      <button type="button" (click)="manualTakePicture()">Manually Take Picture</button>
      <button type="button" (click)="resetRules()">Previous Page</button>
      <button type="submit">Restart</button>
    </form>

  </div>
    
  